<div #dataContainer hidden></div>
<div *ngIf="load; else loadingTemplate" class="w-screen h-screen">
  <mgl-map
    [style]="style"
    [zoom]="[7]"
    [center]="[svgCenter.x, svgCenter.y]"
    [cursorStyle]="cursorStyle"
    (mapClick)="onMapClick()"
  >
    <ng-container *ngIf="load">
      <mgl-geojson-source id="base-Polygon">
        <mgl-feature
          [properties]=""
          [geometry]="{
            type: 'Polygon',
            coordinates: [
              [
                [mapBoundaryBox.topLeft.x, mapBoundaryBox.topLeft.y],
                [
                  mapBoundaryBox.topLeft.x + mapBoundaryBox.bottomRight.x,
                  mapBoundaryBox.topLeft.y
                ],
                [
                  mapBoundaryBox.topLeft.x + mapBoundaryBox.bottomRight.x,
                  mapBoundaryBox.topLeft.y + mapBoundaryBox.bottomRight.y
                ],
                [
                  mapBoundaryBox.topLeft.x,
                  mapBoundaryBox.topLeft.y + mapBoundaryBox.bottomRight.y
                ],
                [mapBoundaryBox.topLeft.x, mapBoundaryBox.topLeft.y]
              ]
            ]
          }"
        ></mgl-feature>
      </mgl-geojson-source>

      <mgl-geojson-source id="booth-Polygon">
        <ng-container *ngFor="let booth of boothsOutlines">
          <mgl-feature
            [properties]="booth.properties"
            [geometry]="{
              type: 'Polygon',
              coordinates: [booth.geometry.coordinates]
            }"
          ></mgl-feature>
        </ng-container>
      </mgl-geojson-source>

      <mgl-geojson-source id="booth-txt">
        <ng-container *ngFor="let txt of boothTextNumbers">
          <mgl-feature
            [properties]="txt.properties"
            [geometry]="{
              type: 'Point',
              coordinates: txt.geometry.coordinates
            }"
          ></mgl-feature>
        </ng-container>
      </mgl-geojson-source>

      <mgl-layer
        id="base-layer"
        type="fill"
        source="base-Polygon"
        [paint]="{
          'fill-color': 'gray',
          'fill-opacity': 0.2
        }"
      >
      </mgl-layer>
      <mgl-layer
        id="booth-Polygon-layer"
        type="fill"
        source="booth-Polygon"
        [paint]="{
          'fill-color': 'blue',
          'fill-opacity': 0.2
        }"
        (layerMouseEnter)="cursorStyle = 'pointer'"
        (layerMouseLeave)="cursorStyle = ''"
        (layerClick)="onClick($event)"
      >
      </mgl-layer>
      <mgl-layer
        id="booth-txt-layer"
        type="symbol"
        source="booth-txt"
        [paint]="{
          'text-color': 'black',
        }"
        [layout]="txtLayout"
      ></mgl-layer>
    </ng-container>
    <mgl-popup
      *ngIf="selectedElement && selectedLngLat"
      [lngLat]="selectedLngLat"
      [closeOnClick]="false"
    >
      <span [innerHTML]="selectedElement?.['boothNumber']"></span>
    </mgl-popup>
  </mgl-map>
</div>
<ng-template #loadingTemplate>
  <app-custom-loader></app-custom-loader>
</ng-template>

<!----------------------------------------------------  for learning purpose ------------------------------------ -->
<!-- <div class="w-screen h-screen">
  <mgl-map [style]="style" [zoom]="[2]" [center]="[0, 0]">
    <mgl-geojson-source id="point-1">
      <mgl-feature
        [properties]=""
        [geometry]="{
          type: 'Point',
          coordinates: [0, 0]
        }"
      ></mgl-feature>
      <mgl-feature
        [properties]=""
        [geometry]="{
          type: 'Point',
          coordinates: [10, 0]
        }"
      ></mgl-feature>
    </mgl-geojson-source>
    <mgl-layer
      id="layer-1"
      type="circle"
      source="point-1"
      [paint]="layerPaint"
    ></mgl-layer>
    <mgl-geojson-source id="polygon-1">
      <mgl-feature
        [properties]=""
        [geometry]="{
          type: 'Polygon',
          coordinates: [
            [
              [0, 0],
              [5, 0],
              [5, -5],
              [0, -5],
              [0, 0]
            ]
          ]
        }"
      ></mgl-feature>
    </mgl-geojson-source>
    <mgl-layer
      id="layer-2"
      type="fill"
      source="polygon-1"
      [paint]="{
        'fill-color': '#088',
        'fill-opacity': 0.8
      }"
    ></mgl-layer>
  </mgl-map>
</div> -->
